body{
    background-color: lightgray;
}

.header{
    color:red; 
    font-size: 50px;
    background-color: lightblue;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: 10px solid pink;
}
.header:hover{
    color:blue;
    border: 5px solid red;
    transition: 1000ms;
}
.personal-info{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.personal-info img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.skills{
    margin: 0 auto;
    width: 500px;
    
}
.contact{
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    background-color: aliceblue;
    border-radius: 10px;
}